@import "bootstrap-sprockets";
@import "bootstrap";

/* Webフォント */
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);


/* mixins, variables, etc. */

$basic-background-color: #696f6f;
$basic-text-color: #f1f1f1;

$header-background-color: #3b3f40;

$highlight_text_color: #f5b49b;

$gray-medium-light: #eaeaea;

html, body {
  margin: 0;
  paddhing: 0;
  border: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  background-color: $basic-background-color;
  color: $basic-text-color;
}

#container {
  width: 100%;
  height: 100%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -1px;
}

h2 {
  font-size: 1.2em;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

ul {
  li {
    padding: 0.5em 0;
  }
}


/* header */

header {
  margin: 0;
  padding: 0;
  background-color: $header-background-color;
}

#app_title {
  padding: 20px 0;
  text-align: center;
  h1 {
    color: $highlight_text_color;
  }
  #app_discription {
    font-size: 0.9em;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* Content */
#content {
  max-width: 800px;
  margin: 60px auto 0;

  h2 {
    margin-top: 3em;
    color: $highlight_text_color;
  }

  .playlist-title {
    font-size: 1.5em;
    text-align: center;
  }

  .twitter-btn {
    text-align: center;
  }
}

#import_form {
  margin: 1em 0 3em 3em;


  .form-parts {
    margin-bottom: 2em;
  }
}

/* Playlist */
#playlist_table {
  width: 100%;
  margin: 30px auto;
  table {
    width: 100%;
  }
  table, th, td {
    border: 1px solid #555;
  }
  tr:nth-child(even) {
    background-color: #323433;
  }
  tr:nth-child(odd) {
    background-color: #262827;
  }
  tr {
    .count {width: 10%}
    .artist-name {width: 40%}
    .title {width: 40%}
    .amzmp3url {width: 10%}
    th,td {
      padding: 0.3em 0.5em;
    }
    th {
      font-weight: 100;
    }
  }
}
#323433

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
